<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">

				<h3>About us <i class="fa fa-heartbeat"></i></h3>
				<p>
					<em>We really like books here, it's our true passion.</em><br><br>
					Just like you we want to learn stuff, but we also like to share our knowledge with the rest!<br><br>
					We hope you'll find this webpage perfect for you you litte book lover.. we do have some rules thought.
					<ul>
						<li>Only upload your own content!</li>
						<li>Do not spread hate!</li>
						<li>Have fun and learn!</li>
					</ul>
				</p>
			</div>
			<div class="col-md-3">
				
				<h3>Contact us <i class="fa fa-modx"></i></h3>
				<p>
					Do you have a question, improvement ideas, complains or simply just a thank-you <i class="fa fa-heart"></i><br>You are welcome to contact us!
				</p>
				<!--https://developers.google.com/gmail/api/quickstart/js-->
				<p>Email - <a href="http://book4lifeAB@gmail.com/">book4lifeAB@gmail.com</a></p>
				<h4><br>&#09;Obs</h4>
				<p>
					Before you want to contact us about some question, have you checked the <strong>Questions</strong> section? If your question is not there feel free to contact us.
				</p>
				<p>We are now on social medias! You can follow us on the followings :) </p>
				<div class="social_medias">
					<a href="/bad" title="facebook"><i class="fa fa-facebook fa-lg"></i></a>
					<a href="/bad" title="twitter"><i class="fa fa-twitter fa-lg"></i></a>
					<a href="/bad" title="pinterest"><i class="fa fa-pinterest-p fa-lg"></i></a>
					<a href="/bad" title="google plus"><i class="fa fa-google-plus fa-lg"></i></a>
					<a href="/bad" title="instagram"><i class="fa fa-instagram fa-lg"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				
				<h3>Questions <i class="fa fa-question-circle"></i></h3>
				<p>If you have some questions about the following please press the link and you will hopefully find anwsers.</p>
				<ul>
					<li>
						<h4>Loggin in</h4>
						<p>if you have problems with login - <a href="/problem?id=0">login problem</a></p>
					</li>
					<li>
						<h4>Registration</h4>
						<p>if you have problems with registration - <a href="/problem?id=1">registration problem</a></p>
					</li>
					<li>
						<h4>Uploading</h4>
						<p>if you have problems with uploading a book - <br><a href="/problem?id=2">uploading problem</a></p>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
			
				<h3>Copyrights <i class="fa fa-copyright"></i></h3>
				<p>
					<em>All rights preserved</em><br><br>
					As we do not own any of the content, only share it we can't be responsible for any kind of problems that may occur. You may only upload their own content, if you feel like a book should be removen due to reasons of your chooses please contact us and we will help you.
				</p>
			</div>
		</div>
	</div>
</footer>