<html>
<head>
	<% include partials/head.ejs %>
</head>
<body class="<%= classname %>">
	<% if(type == '404') { %>
		<% include partials/bad.ejs %>
	<% } else {%>
		<% include partials/logout.ejs %>
		<% if(type == 'problem') { %>
			<% include partials/problem.ejs %>
		<% } %>
		<% if(type == 'sql-error') { %>
			<% include partials/html/sqlError.html %>
		<% } %>
	<% } %>
	<% include partials/footer.ejs %>
</body>
</html>