<html>
<head>
	<% include partials/head.ejs %>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/book.css">
</head>
<body class="<%= classname %>">
	<% include partials/logout.ejs %>
	<% include partials/search.ejs %>

	<div class="container">
		<div class="rows booklist">
			
		</div>
	</div>

	<% include partials/footer.ejs %>
	<script src="js/helper/search.js"></script>
	<script src="js/home.js"></script>
</body>
</html>