.container {
    margin-top: 60px;
}
.bookclass > a {

    background-color: #ff999b;
    position: relative;
    border-radius: 1px;
    border: 1px solid #979797;
    box-shadow: 0 3px 5px #c6c6c6;

	width: 100%;
	display: block;
	margin: 10% 0;
	text-align: center;
}
.bookclass > a > img {
	opacity: 0.4;
	width: 40%;
	margin-top: 10%;
}

.bookclass > a:hover {
    background-color: #adaeff;
}
.bookclass > a:hover > p {
    background-color: #c4c2ff;
    text-decoration: none;
}
.bookclass > a > p {
    box-sizing: border-box;
    background-color: #ffb5ba;
    padding: 5%;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: black;
}
.info {
    display: none;
    margin: 0px auto;
    text-align: center;
    z-index: 0;
}
.info > img {
    max-width: 100%;
}
.info > p {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    text-align: center;
    width: 100%;
    color: #444;
    position: relative;
    top: -80px;
}