<h1>Login problems</h1>
<p>
	Sorry to hear that you having some problems with logging in, hopefully we can help you!<br>
	The main problems we come occur is: 
</p>

<ol>
	<li>
		<h3>You don't have a book4life key</h3>
		<p>First of all a book4life key is basiclly a key to go, once you recived a key you will be able to see all the content!. At the moment keys can only be given out by us, but soon it will be a mail system. This only to prevent robots from mass producing accounts (we are small <i class="fa fa-frown-o"></i>).<br><br>Contact us if you havent recived a key after 2 days of registration!<br>
		Your username is all that we'll need <i class="fa fa-smile-o"></i></p>
	</li>
	<li>
		<h3>Username or password dont match</h3>
		<p>
			Make sure you put in correct values bla bla..<br>
			If you know that values are correct we have probebly seen you as a robot and deleted you, register again and contact us if so! <i class="fa fa-smile-o"></i>
		</p>
	</li>
	<li>
		<h3>Come back later</h3>
		<p>
			If you recive the error - <em>'There occured some problems please try again'</em> you should try to wait an hour or two beacuse theres a problem in the database. If it keeps saying this then contact us with username and mayby a nice message <i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i>.
		</p>
	</li>
</ol>