<h1>Registration problems</h1>
<p>
	Sorry to hear that you having some problems with registration, hopefully we can help you!
</p>

<ol>
	<li>
		<h3>User already exist</h3>
		<p>You simply need to be more creative with your name as the usernames can't be the same <i class="fa fa-smile-o"></p>
	</li>
	<li>
		<h3>Come back later</h3>
		<p>
			If you recive the error - <em>'There occured some problems please try again'</em> you should try to wait an hour or two beacuse theres a problem in the database. If it keeps saying this then contact us and mayby add a nice message to it <i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i>.
		</p>
	</li>
</ol>