<h1>Uploading problems</h1>
<p>We are terrible sorry that you're having problems with uploading. Hopefully one of these alteritives can help you.</p>
<ul>
	<li>
		<h3>How to upload</h3>
		<p>
			Well this is quite an easy problem.<br>
			If you're on a mobile you should see a menu button at the top left corner, press that and a menu should popup with some alteretives choose 'Upload'. If you are on some bigger devices you should see the 'plus button' with an arrow attached to it saying <em>Upload</em>, press that.<br><br><strong>Step by step tutorial</strong>
		</p>
		<ul>
			<li>
				<h4><strong>Title</strong></h4>
				<p>You can search for an existing book and upload a chapter directly to it!</p>
				<p>If the book does not exist, it will be <strong>created</strong> so be carefull with the name!</p>
			</li>
			<li>
				<h4><strong>New Book</strong></h4>
				<p>If the book does not exist a popup will occur asking you to put in some info</p>
				<p>author and summery are quite streight foreward, but <strong>Tags</strong> can be tricky. Tags are only to benifit the search algoritm, let say you wrote a book about mathematics a good tag would be math.<br>Tags should be written like this - <em>we,love,tags,at,book4life</em></p>
			</li>
			<li>
				<h4><strong>Chapter</strong></h4>
				<p>Don't be fooled with the chapter, a book is built-up by chapters therfore it's important to keep track of which is which.</p>
			</li>
			<li>
				<h4><strong>Upload</strong></h4>
				<p>When you filled in the info, selected your images it's time to begin the upload!</p>
			</li>
			<li>
				<h4><strong>Done</strong></h4>
				<p>Now you should hopefully be done!</p>
			</li>
		</ul>
	</li>
	<li>
		<h3>Upload failed</h3>
		<p>As we're using the imgur api - we upload the images to <a href="http://imgur.com/">www.imgur.com</a> (they are not public), it occurs some problems with traffic. Theres a maximal ammount of requests (about 12,500 uploades per day). But at once you can only upload about <strong>25-50 pages</strong> depends on your internet.<br>So we strongly recommend to keep the limit to about 30 pages (about one chapter :))</p>
	</li>
</ul>

<h3><br>If theres any other problems please contact us!</h3>